<a href="https://colab.research.google.com/github/storyrago/2025-2-BigData/blob/main/5%EC%A3%BC%EC%B0%A8%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.read_csv("CARD_SUBWAY_MONTH_202504.csv",encoding="utf-8");
df2 = pd.read_csv("CARD_SUBWAY_MONTH_202505.csv",encoding="utf-8");
df3 = pd.read_csv("CARD_SUBWAY_MONTH_202506.csv",encoding="utf-8");
df4 = pd.read_csv("CARD_SUBWAY_MONTH_202507.csv",encoding="utf-8");
df5 = pd.read_csv("CARD_SUBWAY_MONTH_202508.csv",encoding="utf-8");
dfList =[df1,df2,df3,df4,df5]

for i in range(0,5):
  sum = 0
  a = dfList[i].values.tolist()
  for j in range(len(a)):
      if a[j][1] == "한성대입구(삼선교)":
          sum += a[j][2]
          sum += a[j][3]
  print("{}월 한성대 입구역 승하차 수 : {}".format(i+4,sum))

4월 한성대 입구역 승하차 수 : 960263
5월 한성대 입구역 승하차 수 : 952977
6월 한성대 입구역 승하차 수 : 842115
7월 한성대 입구역 승하차 수 : 801754
8월 한성대 입구역 승하차 수 : 722899

In [7]:
print("4~5월은 승하차 수가 월등하게 높은 반면, 6월부터 점차 수치가 낮아지고, 7월과 8월의 승하차 수 차이가 급격하게 증가한 것을 볼 수 있습니다.")
print("이를 통해, 6월부터 많은 학생들이 종강한다는 사실을 추측할 수 있고, 7~8월의 승하차 수의 차이가 급격하게 증가하는 것을 통해 계절학기를")
print("수강하는 학생들도 종강했다는 것을 추측할 수 있습니다.")

4~5월은 승하차 수가 월등하게 높은 반면, 6월부터 점차 수치가 낮아지고, 7월과 8월의 승하차 수 차이가 급격하게 증가한 것을 볼 수 있습니다.
이를 통해, 6월부터 많은 학생들이 종강한다는 사실을 추측할 수 있고, 7~8월의 승하차 수의 차이가 급격하게 증가하는 것을 통해 계절학기를
수강하는 학생들도 종강했다는 것을 추측할 수 있습니다.